@import '../../../app/variables.scss';

.btn_link {
	display: block;
	border-radius: 8px;
	font-size: 18px;
	text-align: left;
	color: $grey;
	margin-left: 2px;
	width: 100%;
	&:hover {
		padding: 5px;
		background: $light-blue;
		color: $blue;
	}
}
