@import '../../app/variables.scss';

.card {
	width: 240px;
	max-height: 340px;
	&__image {
		width: 100%;
		height: 260px;
		background-color: $light-grey;
	}
	&__textbox {
		margin-top: 10px;
	}
	&__title {
		font-size: 18px;
	}
	&__city {
		float: inline-end;
		color: $blue;
	}
	&__price {
		color: black;
		font-size: 18px;
		font-weight: 600;
	}
}
