body {
    background:
    radial-gradient(circle, rgba(245, 159, 11, 0.2) 0%, rgba(255,255,255,1) 35%) top -100% left -300%,
    radial-gradient(circle, rgba(11, 46, 245, 0.2) 0%, rgba(255,255,255,1) 35%) top 30% left -85%,;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding-bottom: 100px;
}
  