$light-blue: rgb(96, 165, 250, 0.2);
$post-light-blue: rgb(59, 130, 246);
$blue: rgb(37, 99, 235);
$dark-blue: rgb(29, 78, 216);
$grey: rgb(107, 114, 128);
$red: rgb(220, 38, 38);
$light-red: rgb(248, 113, 113, 0.2);
