.dropdown {
	display: none;
	position: absolute;
	top: calc(90%);
	right: 0;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #bebebe;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
	padding: 8px;
	min-width: 180px;
	z-index: 10;
	&:hover {
		display: block;
	}
	hr {
		margin: 5px 0;
	}
}

.btn_dropdown {
	position: relative;
	&:hover .dropdown {
		display: block;
	}
}
