

.dropdown {
    display: none;
    position: absolute; // Position absolutely
    top: calc(90%); // Adjust top position to align with button bottom
    left: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    min-width: 120px;
    z-index: 10;
    &:hover {
        display: block;
    }
    button,
    a {
        font-size: 18px;
        text-align: left;
        margin-left: 2px;
        color: #7AC751;
        margin-bottom: 3px;
        width: 100%;
    }
}

.btn_dropdown {
    position: relative;
    &:hover .dropdown {
        display: block;
    }
}
